<h1>DBZ Personajes</h1>
<hr>

<div class="row">
  <div class="col">

    <app-dbz-list [characterList]="characters" (onDelete)="onDeleteCharacter($event)"></app-dbz-list>

  </div>

  <div class="col">
    <!--
     En nuestro componente app-dbz-add-character estamos capturando el valor que el método
     onNewCharacter emite que esta en el componente hijo y el valor que esta emitiendo se
     lo pasamos (enviamos) a onNewCharacterRecovered
     mediante $event.
    -->
    <app-dbz-add-character (onNewCharacter)="onNewCharacter($event)"></app-dbz-add-character>
  </div>
</div>
